body { background-image: url(Picture/Background.jpg);
  background-size: cover;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  }
p{text-align: center;}
.topnav {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.904);
}

.topnav a {
  float: left;
  color: #312e2e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.topnav a:hover {
  background-color: rgb(160, 6, 6);
  color: rgb(255, 255, 255);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 12px 16px;
  border-bottom:4px solid #ffc400;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.topnav-right {
  float: right;
}
img{
  width: 100%;
}
.img-1{
  width: 70%;
  margin-top: 40px;
  margin-left: 131px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.search .search-container {
  float: right;
}

.search input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: rgb(160, 6, 6);
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search .search-container button:hover {
  background: #ffc400;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width: 600px) {
  .search .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc; 
    padding: 7px;
    margin-top: 7px;
    font-size: 16px;
    /* margin-left: 28px; */
    margin-left: -58px;
    border: none;
}
.icon{
  text-align: center;
} 
  }
}



* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.dropdown {
  float: left;
  overflow: hidden;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #ffc400;
  padding: 14px 149px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}
.dropbtn2 {
  border-radius: 4px;
  background-color: rgb(160, 6, 6);
  border: none;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 16px;
  padding: 14px 149px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.dropbtn2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.dropbtn2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.dropbtn2:hover span {
  padding-right: 25px;
}

.dropbtn2:hover span:after {
  opacity: 1;
  right: 0;
}



.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(160, 6, 6);
  color: #fffefd;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .header {
  background: rgb(160, 6, 6);
  padding: 16px;
  color: white;
}
.navbar a:hover , .dropdown-content .header{
  background-color: rgb(160, 6, 6);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.dropdown:hover .dropdown-content {
  display: block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #ccc;
  height: 250px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}
.search {
  overflow: hidden;
  background-color: #333;
  border-radius: 12px;
}
.search a {
  float: left;
  color: #ffc400;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.search a:hover {
  background-color: rgb(160, 6, 6);
  color: rgb(255, 255, 255);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.search a.active {
  background-color: #4CAF50;
  color: white;
}
.search-right {
  float: right;
}


div.gallery {
  background-color: rgb(160, 6, 6);
  color: #f2f2f2;
  margin: 8px;
  border: 1px solid rgb(0, 0, 0);
  float: left;
  width: 250px;
}

div.gallery:hover {
  border: 4px solid #ffc400;
  background-color: #ffc400;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.shazam {
  padding: 18px;
  text-align: center;
}

.capmar {
  padding: 11px;
  text-align: center;
}

.dumbo {
  padding: 3px;
  text-align: center;
}

.saeng {
  padding: 22px;
  text-align: center;
}

.theking {
  padding: 10px;
  text-align: center;
}
.under{
  background-color: rgb(65, 63, 63);
  color: rgb(190, 188, 188);
}
.Company{
  background-color: #000;
  text-align: center;
}
.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: rgb(65, 63, 63);
  color: rgb(190, 188, 188);
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  color: #000;
  text-decoration: underline;
}
.right{
  overflow: hidden;
  display: block;
}
.right a{
  float: right;
    display: block;
    text-align: right;
    width: 100%;
    text-decoration: none;
    padding: 14px;
}
.left{
  overflow: hidden;
  display: block;  
}
.left a{
  float: left;
    display: block;
    text-align: left;
    width: 100%;
    text-decoration: none;
    padding: 14px;
}

/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 23%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}
//ข้างล่าง//
.txttopicfmenu {
    font-size: 24px;
    color: #e0ae00;
    line-height: 40px;
    font-family: 'DBHelvethaicaX55Regular';
}
.eachmenu {
    float: left;
    width: 100%;
}
.fmenu {
    background: #191919;
    width: 100%;
    padding: 20px 0;
    height: 270px;
}
.wrapper-footer {
    width: 1140px;
    margin: auto;
    overflow: hidden;
}
.fmenuL {
    float: left;
    width: 65%;
    height: 100%;
    position: relative;
    padding-right: 5%;
}
.rowmenu {
    float: left;
    width: 25%;
}
.topicfmenu {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.btnlinkfmenu {
    font-size: 20px;
    color: #aeaeae;
    line-height: 26px;
    text-decoration: none;
    font-family: 'angsananew';

}

.btnlinkfmenu {
    float: left;
    clear: both;
}
.eachmenu a:hover{
    color: #ffffff;
}
h3{
  margin: 0;
  font size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: #FFD700;
}

div.gallery {
  background-color: rgb(160, 6, 6);
  color: #f2f2f2;
  margin: 10px;
  border: 1px solid rgb(0, 0, 0);
  float: left;
  width: 250px;
}

div.gallery:hover {
  border: 4px solid #ffc400;
  background-color: #ffc400;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.shazam {
  padding: 18px;
  text-align: center;
}

.capmar {
  padding: 11px;
  text-align: center;
}

.dumbo {
  padding: 3px;
  text-align: center;
}

.saeng {
  padding: 22px;
  text-align: center;
}

.theking {
  padding: 10px;
  text-align: center;
}
.under{
  background-color: rgb(65, 63, 63);
  color: rgb(190, 188, 188);
}
.Company{
  background-color: #000;
  text-align: center;
}
.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: rgb(65, 63, 63);
  color: rgb(190, 188, 188);
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  color: #000;
  text-decoration: underline;
}
.right{
  overflow: hidden;
  display: block;
}
.right a{
  float: right;
    display: block;
    text-align: right;
    width: 100%;
    text-decoration: none;
    padding: 14px;
}
.left{
  overflow: hidden;
  display: block;  
}
.left a{
  float: left;
    display: block;
    text-align: left;
    width: 100%;
    text-decoration: none;
    padding: 14px;
}

.progress {
  position: relative;
  display: flex;
}
.progress .progress-track {
  position: absolute;
  top: 5px;
  width: 100%;
  height: 5px;
  background-color: #dfe3e4;
  z-index: -1;
}
.progress .progress-step {
  position: relative;
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.progress .progress-step:last-child:after {
  display: none;
}
.progress .progress-step:before {
  content: "\f00c";
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 4px solid #dfe3e4;
  border-radius: 100%;
  color: #fff;
}
.progress .progress-step:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 50%;
  width: 0%;
  transition: width 1s ease-in;
  height: 5px;
  background: #dfe3e4;
  z-index: -1;
}
.progress .progress-step.is-active {
  color: #2183dd;
}
.progress .progress-step.is-active:before {
  border: 4px solid #777;
  animation: pulse 2s infinite;
}
.progress .progress-step.is-complete {
  color: #009900;
}
.progress .progress-step.is-complete:before {
  font-family: FontAwesome;
  font-size: 10px;
  color: #fff;
  background: #009900;
  border: 4px solid transparent;
}
.progress .progress-step.is-complete:after {
  background: #2183dd;
  animation: nextStep 1s;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(33,131,221, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(33,131,221, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(33,131,221, 0);
  }
}

/*Progressing to next step animation for Step's progress bar*/
@keyframes nextStep {
  0% { width: 0%; }
  100% { width: 100%; }
}

/* General -----------------------------------------*/
/* container*/
.container {
  margin: 50px 100px;
}


.wrapper {
  margin-right: auto; 
  margin-left:  auto; 

  max-width: 960px; 

  padding-right: 10px; 
  padding-left:  10px; 
}

div.gallery {
  background-color: rgb(160, 6, 6);
  color: #f2f2f2;
  margin: 10px;
  border: 1px solid rgb(0, 0, 0);
  float: left;
  width: 250px;
}


div.gallery img {
  width: 100%;
  height: auto;
}

.movieBox{
  padding: 20px 0;
  background-color: #333;
}

.box-movie-detail {
    padding: 20px 0;
    background-color: rgb(124, 124, 124);
}

/**//**/

.container3 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container3 {
  width: 1170px;
  
}

.showtime-box {
  padding-top: 20px;
  background-color: rgb(124, 124, 124);
  border: 1px solid rgba(0, 0, 0, 0.671);
  margin-top: 20px;
  padding-top: 0;
  height: 270px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 768px){
.showtime-box .showtime-cinema, .showtime-box .showtime-header {
  padding: 20px;
}
}

.showtime-box .showtime-header {
  background-color: #a51010d8;
  border: 1px solid #a5101080;
  color: rgb(255, 217, 0);
  margin: -1px -1px 0;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  position: relative;
}

.showtime-box .showtime-header .location {
  margin-right: 15px;
  margin-top: -2px;
  width: 10px;
}
/**/
.sf-icon.location .cls-1 {
  stroke-linejoin: round;
}
.sf-icon.location .cls-1, .sf-icon.location .cls-2 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 8px;
}

.sf-icon.location .cls-2 {
  stroke-miterlimit: 10;
}
.sf-icon.location .cls-1, .sf-icon.location .cls-2 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 8px;
}

/**/

.showtime-box .showtime-header .showtime-arrow.open {
  transform: rotate(225deg) translate(20%,20%);
}
.showtime-box .showtime-header .showtime-arrow {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: rotate(45deg) translate(-50%,-50%);
  border-radius: 1px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

@media (min-width: 768px){
.showtime-box .showtime-cinema, .showtime-box .showtime-header {
  padding: 20px;
}
}
@media (min-width: 768px){
.showtime-box .showtime-cinema {
  font-size: 16px;
}
}
.showtime-box .showtime-cinema {
  font-size: 14px;
  color: #114c97;
  padding: 10px;
  line-height: 1;
  font-weight: 600;
  background-color: #e0e5f2;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.showtime-box .star {
  margin-right: 7px;
  width: 13px;
}

.sf-icon.star .cls-1 {
  fill: none;
  stroke: #b9b9b9;
  stroke-width: 23;
  stroke-miterlimit: 10;
}

@media (min-width: 768px){
.showtime-box .showtime-list {
  padding: 0 20px;
  border: 0;
}
}

@media (min-width: 768px){
.showtime-box .showtime-item {
  padding: 20px 0;
}
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
  display: table;
  content: " ";
}

@media (min-width: 768px){
.col-sm-2 {
  width: 16.66666667%;
}
}
@media (min-width: 768px){
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
  float: left;
}
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 991px) and (min-width: 768px){
.showtime-box .left-section, .showtime-box .right-section {
  font-size: 16px;
}
}
@media (min-width: 768px){
.showtime-box .left-section {
  text-align: center;
  padding: 37px 0;
}
}

.showtime-box .theater-logo {
  max-width: 100%;
  display: block;
  margin: 0 auto 10px;
  height: auto;
  max-height: 35px;
}
img, svg {
  width: auto;
}
img {
  vertical-align: middle;
}

.showtime-box .theater-text {
  margin: 0;
  line-height: 1;
}

.movie-detail-list.left {
  display: inline-block;
}
.movie-detail-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.visible-lg, .visible-md, .visible-sm, .visible-xs {
  display: none!important;
}

.movie-detail-list.left .list-item:first-child {
  padding-left: 0;
}
.movie-detail-list.left .list-item {
  font-size: 14px;
  font-weight: 600;
  padding: 7px 10px;
}

@media (max-width: 991px){
.movie-detail-list .list-item img {
  height: 16px;
}
}

.movie-detail-list.left .list-item+.list-item {
  position: relative;
}
@media (min-width: 768px){
.movie-detail-list .list-item+.list-item {
  border-left: 1px solid #c6c7c7;
}
}
.movie-detail-list.left .list-item {
  font-size: 14px;
  font-weight: 600;
  padding: 7px 10px;
}

.showtime-box .sound {
  width: 16px;
  margin-right: 5px;
}

.showtime-box .sound .cls-1 {
  fill: #231f20;
}
.sf-icon.sound .cls-1 {
  fill: #242424;
}

@media (min-width: 768px){
.showtime-box .border-section {
  border-left: 1px solid #c6c7c7;
}
}

@media (min-width: 768px){
  .col-sm-10 {
      width: 83.33333333%;
}
}

@media (max-width: 991px) and (min-width: 768px){
.showtime-box .left-section, .showtime-box .right-section {
  font-size: 16px;
}}
@media (min-width: 768px){
.showtime-box .right-section {
  padding: 10px 20px;
}}

.movie-detail-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.movie-detail-list:after, .movie-detail-list:before {
  content: "";
  display: table;
}

.movie-detail-list .list-item:first-child {
  padding-left: 0;
}
@media (max-width: 991px){
.movie-detail-list .list-item {
  padding: 0 10px;
}}
.movie-detail-list .list-item {
  padding: 0 15px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

.movie-detail-list:after {
  clear: both;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.showtime-box .time-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.showtime-box .time-list:after, .showtime-box .time-list:before {
  content: "";
  display: table;
}

@media (min-width: 768px){
.showtime-box .time-item {
  margin-right: 20px;
}}
.showtime-box .time-item {
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
}


@media (min-width: 768px){
.button-showtime {
  min-width: 110px;
  height: 40px;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #000000;
}}
.button-showtime {
  color: #ffffff;
  border: 2px solid #000000;
  line-height: 1;
  background: none;
  min-width: 52px;
  height: 35px;
  padding: 0;
  font-size: 12px;
}
.button-showtime:hover {
  color: rgb(255, 255, 255);
  border: 2px solid #000000;
  font-weight: 600;
  background: rgb(163, 12, 12);
  border-bottom:4px solid #ffc400;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
@media (max-width: 991px) and (min-width: 768px){
.button {
  min-width: 160px;
}}
.button {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  padding: 10px 12px;
  min-width: 140px;
  height: 40px;
  display: inline-block;
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  transition: all .2s ease-out;
}

time-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.showtime-box .time-list {
  margin-top: 20px;
}


.container2 {
  width: 750px;
}

.container2 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,g- .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-l5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.box-movie-detail .detail-box {
    background-color: rgb(90, 89, 89);
    color: white;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 50px 0 100px;
    box-shadow: 0 2px 4px 0 rgba(12, 12, 12, 0.35);
}

.box-movie-detail .poster-land {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    filter: brightness(45%);
    overflow: hidden;
}

.box-movie-detail .poster {
    padding: 0;
    margin-top: -40px;
    margin-bottom: -40px;
    margin-left: -25px;
    float: left;

}

.box-movie-detail .poster img {
    max-width: inherit;
    width: 100%;
    box-shadow: 0 15px 37px -5px rgba(54,70,97,.4);
}

.box-movie-detail .movie-detail {
    padding: 25px 30px;
}

.box-movie-detail .movie-detail .main-detail {
    margin-bottom: 10px;
}

.box-movie-detail .movie-detail .name {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.box-movie-detail .movie-detail .genre {
    margin-bottom: 0;
}



.movie-detail-list .list-item:first-child {
    padding-left: 0;
    margin-left: 160px;
}

.movie-detail-list .list-item+.list-item {
    border-left: 1px solid #474747;

}

.box-movie-detail .movie-detail .button-gray-trans {
    margin-top: 0px;
    min-width: 190px;
}
.box-movie-detail .movie-detail .button-gray-trans:hover {
  background-color: white;
  color: #000;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-bottom:4px solid #ffc400;
}

.box-movie-detail .movie-detail .button {
    font-weight: 600;
    height: 40px;
    padding: 9px;
}

.box-movie-detail .button-gray-trans {
    color: #989898;
    line-height: 1.4;
    border: 1px solid #c6c7c7;
    background: none;
    margin-left: 110px;
    border-bottom-width: 1px;
}

.box-movie-detail .button {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
    -webkit-appearance: none;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    transition: all .2s ease-out;
}

.sit{
  background-image: url("Movie/Seat\ \(1\).jpg");
}
.txttopicfmenu {
    font-size: 24px;
    color: #e0ae00;
    line-height: 40px;
    font-family: 'DBHelvethaicaX55Regular';
}
.eachmenu {
    float: left;
    width: 100%;
}
.fmenu {
    background: #191919;
    width: 100%;
    padding: 20px 0;
    height: 270px;
}
.wrapper-footer {
    width: 1140px;
    margin: auto;
    overflow: hidden;
}
.fmenuL {
    float: left;
    width: 65%;
    height: 100%;
    position: relative;
    padding-right: 5%;
}
.rowmenu {
    float: left;
    width: 25%;
}
.topicfmenu {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.btnlinkfmenu {
    font-size: 20px;
    color: #aeaeae;
    line-height: 26px;
    text-decoration: none;
    font-family: 'angsananew';

}

.btnlinkfmenu {
    float: left;
    clear: both;
}
.eachmenu a:hover{
    color: #ffffff;
}
h3{
  margin: 0;
  font size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: #FFD700;
}
.book_payment {
    background-color: #fff;
    border-radius: 5px;
    padding-bottom: 57px;
}
<ลบได้>
    .shopping_summary_price {
        background: #fff none repeat scroll 0 0;

        color: #000;
        display: block;
        font-size: 20px;
        padding: 14px 0 5px 0;
        text-align: right;
        overflow: hidden;

    }
    .shop_summary_price_text {
        display: inline-block;
        float:right;font-size:36px;
    }
    .shopping_promotion{
        padding-left: 0px;
        padding-top: 0px;
        font-size: 20px;
        line-height: 24px;
    }
    .promotion_code b{color:#ed0722}
    #decrease_promotion{
        float: right;
        color: #ed0722;
        /*margin-right: 19px;*/
        font-size: 24px;
        margin-top: 11px;
    }
    .shop_seating_name{line-height: 33px;}
    .grey_text{font-size: 18px;}
    .shopping_promotion_code{float:left}
    .pink_text{color:#a40328;font-weight: bold;font-size: 18px;}
    .old_price{
        font-size: 17px;
        display: block;
        margin-top: -8px;
        font-weight: bold;
        color: #777;
    }
    .shop-seating-title {border-bottom:1px solid #e0e0e0;}
    .shop_seating {padding-bottom:3px;}
    .shop_seating .shop_seating_name h3{width:auto;}
    .summary_title {margin-right:10px;font-size:17px;line-height: 32px;}
    .shop_summary_price_text sup {top:-15px;font-size:14px;margin-left:5px;}
    .shopping_promotion_title {margin-top:0px;border-bottom: 1px solid #e0e0e0;padding-bottom: 5px;}
    .total_summary {background: #333;color: #fff;margin-top: 20px;padding:20px 10px;border-radius: 5px;}
    #promotion_text {font-size:16px;}
    #promotion_code {font-size:15px;}
    #promotion_code span {font-size:18px;color:#f00;}
    .discount_price {color:#f00;}
    .shopping_promotion_data{margin:11px 0}
    .total_summary_text {float:left;}
    .total_summary .shop_summary_price_text {color:#f00;}
  .book_payment_input.form {float: left !important;}
  .book_payment_input.form input[type=radio], .book_payment_input.form input[type=checkbox] {width: 25px !important; margin: 0px !important;}
  .book_payment_input label, .gender, #accept_agreement {cursor: pointer !important;}
    #voucherButton{
        color: #fff;
        border: none;
        font-size: 16px;
        padding: 9px 10px;
        border-radius: 2px;
        background: #9B0127;
    }
.txt-seating-title {
    font-size: 20px;
    color: #a0a0a0;
    position: relative;
    line-height: 36px;
}
.shop-seating-title {
    border-bottom: 1px solid #e0e0e0;
}
.shop-seating-title {
    float: left;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding-bottom: 5px;
}
.book_payment_head {
    padding: 22px 22px;
}
.shopping_summary_contain {
    background: #E9EAED;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1) inset;
    overflow: hidden;
}
.blogsummarycontain {
    float: left;
    width: 100%;
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.innersummary {
    float: left;
    width: 100%;
    background: #fff;
}
.shop_seating {
    padding-bottom: 3px;
}
.shop_seating {
    background-color: #fff;
    padding: 10px 10px 10px 3px;
    position: relative;
}
.shop_seating .shop_seating_img {
    float: left;
}
.shop_seating_name {
    line-height: 33px;
}
.shop_seating_price {
    background-color: #2d2d2d;
    color: #fff;
    position: absolute;
    right: 6px;
    border-radius: 3px;
    padding: 5px 12px;
    font-size: 24px;
    font-weight: bold;
    top: 17px;
}
.clr {
    clear: both;
    float: none;
}
.clr {
    clear: both;
    float: none;
}
.book_payment_head {
    padding: 22px 22px;
    background-color: #9A9696;
}
.book_payment_email {
    clear: both;
    padding: 0px 22px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d2d2d2;
}
.book_payment_input input {
    background-color: #4D4D4D;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0px 14px;
    font-size: 16px;
    width: 98%;
    line-height: 40px;
}
.book_payment_notice {
    margin-top: 14px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}
.book_payment_reserve {
    padding: 32px 22px 18px;
    border-bottom: 1px solid #d2d2d2;
    position: relative;
}
.reserve_noneborder {
    border: none;
}
.book_payment_bank {
    text-align: center;
    border: 1px solid #d2d2d2;
    width: 91%;
    margin: auto;
    position: relative;
}
.book_bank_bg {
    background-color: #fff;
    margin: auto;
    margin-top: 28px;
    margin-bottom: 18px;
    width: 104%;
    margin-left: -3%;
}
.book_payment_email 
.book_payment_input input {
    background-color: #4D4D4D;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0px 14px;
    font-size: 16px;
    width: 98%;
    line-height: 40px;
}
.book_payment_email 
.book_payment_input input {
    background-color: #4D4D4D;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0px 14px;
    font-size: 16px;
    width: 98%;
    line-height: 40px;
}
.book_payment_notice .red {
    color: red;
}
.book_reserve_left {
    float: left;
    width: 75%;
}
.book_reserve_right {
    float: left;
    width: 24%;
}
.book_reserve_right .button_reserve {
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 9px 10px;
    border-radius: 2px;
    margin-top: 46px;
    margin-left: 21px;
    background: #9B0127;
}
.reserve_noneborder {
    border: none;
}
.book_payment_reserve {
    padding: 32px 22px 18px;
    border-bottom: 1px solid #d2d2d2;
    position: relative;
}
.book_payment_bank .book_bank_title {
    font-size: 16px;
    font-weight: bold;
    width: 32%;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -10px;
    color: #B16B38;
    font-size: 20px;
}
.book_payment_bank .book_bank_bg {
    background-color: #fff;
    margin: auto;
    margin-top: 28px;
    margin-bottom: 18px;
    width: 104%;
    margin-left: -3%;
}
.popo {
  background-color: #9A9696;
}
.plp {
  width: 4%
}
.ppl{
width: 12%
}
.bgpay{
  background-color: #9A9696;
}
