* {
    margin: 0;
    padding: 0;
}

.seat {
    float: left;
    display: block;
    margin: 5px;
    background: #4CAF50;
    width: 200px;
    height: 140px;
}

.seat-select {
    display: none;
}

.seat-select:checked+.seat {
    background: #F44336;
}
.result{
  color: white;
}

.messagePanel {
  border: solid 1px black; width: 320px; height: 330px;
}


.clearfix { clear: both;}
.available {
    background-color: #96c131;
}

.hovering{
	background-color: #ae59b3;
}
.selected{
    background-color: red;
}
.notavailable{
  background-color: grey;
}
