* {
    margin: 0;
    padding: 0;
}

.seat {
    float: left;
    display: block;
    margin: 5px;
    background: #4CAF50;
    width: 100px;
    height: 140px;
}

.seat-select {
    display: none;
}

.seat-select:checked+.seat {
    background: #F44336;
}
.result{
  color: white;
}
